.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: bisque;
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
}

.card-product h2 {
  color: brown;
}
.card-product h3 {
  color: rgb(179, 118, 43);
  font-weight: 500;
}
.card-product .no-hide {
  background: rgb(136, 34, 34);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);

  color: rgb(255, 235, 226);
  font-weight: 600;

  width: 120px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
}

.card-product .hide {
  display: none;
}
