.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  max-width: 320px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.container span {
  color: bisque;
}

@media (min-width: 800px) {
  .container ul {
    max-width: 800px;
    flex-wrap: nowrap;
  }
}
