html,
body,
div,
ul,
li,
input,
button,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  list-style: none;

  font-family: Helvetica, sans-serif;
}

body {
  background: rgb(32, 32, 32);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form {
  padding: 10px;
}
.App input {
  padding: 8px;
  width: 240px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.App button {
  width: 60px;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
